
#category{
  margin-bottom: 10px;
}

#category > h2{
  text-align: center;
  font-size: 18px;
  width: 100%;
}

#category  #item{
  border: 1px solid gray;
  border-radius: 15px;;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#category  #item h3{
  font-size: 14px;
  width: 100%;
}
